CLIPBOARD_SYNC_MQ_URI=nats://localhost:4222
CLIPBOARD_SYNC_MQ_JWT=eyJ0eXAiOiJKV1QiLCJhbGciOiJlZDI1NTE5LWXkifQ.eyJqdGkiOiJMMjRDTUNFZaWEdOWVdCT0pQSFc2UUtZSUtMSTdCVldBIiwiaWF0IjoxNjQxNDYyOTg3LCJpc3MiOiJBRENDQUJHS1ZUTUpXVkxDWEFZTVhQTlRORlc0V1VRQUQyQlZKRVdKMzZZMkdTNFkzVk9WTE82NSIsIm5hbWUiOiJkZW1vU3RhY2siLCJzdWIiOiJVQUdXM1BQWTNPSlVSWFY3TkZCUVJKQTU2WlVDNVpGWlhRWU42VEZMUEVDQVRJWE5RU0tZMzdZUiIsIm5hdHMiOnsicHViIjp7ImFsbG93IjpbImluc3RhbmNlLmRlbW9TdGFjay4qIiwiJEtWLkNGR19kZW1vU3RhY2suKiIsIiRKUy5BQ0suS1ZfQ0ZHZGVtb1N0YWNrLioiXX0sInN1YiI6eyJhbGxvdyI6WyJpbnN0YW5jZS5kZW1vU3RhY2suKiJdfSwic3VicyI6LTEsImRhdGEiOi0xLCJwYXlsb2FkIjotMSwiYmVhcmVyX3Rva2VuIjp0cnVlLCJ0eXBlIjoidXNlciIsInZlcnNpb24iOjJ9fQ.RwYioDtzAuOtrDaA-UdU5DLARLXvoRefDKF3pjLNKkAPczar3JE_cQdE9gEP0xh7KOkxUdNybh5Gguz47Vk1AA
CLIPBOARD_SYNC_MQ_USEED=SUAPBD2IRY2UJ6EZWLWTMGQHDVPDBCYUVJQMMP7FKQU
OPERATOR_SEED=
SYS_ACCOUNT_SEED=
ACCOUNT_SEED=
